{% extends 'home/layout.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %}Pogoda{% endblock %}

{% block page_contents %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-4">
                <h1 class="text-center">Sprawdź aktualną temperaturę</h1>
                <p>Wybierz kraj i podaj miasto aby sprawdzić jaka jest aktualna temperatura.</p>
                {{ form(form) }}
            </div>
        </div>
            {% if country and city %}
                <div class="row fs-20">
                    <div class="col-12 col-md text-right">Kraj:</div>
                    <div class="col-12 col-md">{{ country }}</div>
                </div>
                <div class="row fs-20">
                    <div class="col-12 col-md text-right">Miasto:</div>
                    <div class="col-12 col-md">{{ city }}</div>
                </div>
                {% if temperature %}
                <div class="row fs-20">
                    <div class="col-12 col-md text-right">Temperatura:</div>
                    <div class="col-12 col-md fw-700">{{ temperature }} &#8451;</div>
                </div>
                    {% endif %}
            {% endif %}
    </div>
{% endblock %}