<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}My Application{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="/plugins/bootstrap-4.5.3-dist/css/bootstrap.min.css"/>
            <link rel="stylesheet" type="text/css" href="/css/style.css"/>
        {% endblock %}
{% block head_js %}
    <script src="/plugins/bootstrap-4.5.3-dist/js/bootstrap.min.js"></script>
{% endblock %}
    </head>
    <body>
        {% block body %}
            <div id="content">
                {% block content %}{% endblock %}
            </div>
        {% endblock %}
    </body>
</html>